body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.background-transparent  {

    opacity: .4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}

.wrapper {
    background: white;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 10px 5px #999;
}

#header {
    background:
            linear-gradient(to bottom, rgba(245,222,179,0.6) 0%, rgba(245,222,179,0.9) 50%, rgba(245,222,179,0.6) 100%)/*,
     url(img/header-background.jpg)*/;
    box-shadow: 0px 0 5px 0 #937B33;
    background-size: contain;
}

#block-tdp-main-menu .menu, #block-mainnavigation .menu {
    padding: 20px 0;
    float: right;
}

#block-mainnavigation .menu {
    float: left;
}

#block-tdp-main-menu .menu__item, #block-mainnavigation .menu__item  {
    list-style: none;
    display: inline-block;
    margin-right: 35px;
}

#block-tdp-main-menu .menu__link, #block-mainnavigation .menu__link {
    display: block;
    font-family: 'PT Sans Narrow', sans-serif;;
    font-size: 20px;
    text-transform: uppercase;
    color: #227FC2;
    border-bottom: 2px solid transparent;
    box-sizing: content-box;
    transition: linear 0.1s;
    padding: 5px;
}

#block-tdp-main-menu .menu__link.is-active {
    color: red;
}

#block-tdp-main-menu .menu__link:hover, #block-mainnavigation .menu__link:hover {
    border-bottom: 2px solid #5251C2;
    background: none;
    color: #2D2C80;
    text-decoration: none;
}

footer.footer {
    background: #222233;
    border-top: 1px solid #33253a;
    box-shadow: 0px 3px 20px 2px #999;
    color: wheat;
    padding: 0 0 15px;
    margin-top: 0;
}

.footer h2 {
    font-size: 20px;
    border-bottom: 1px solid;
    padding: 25px 0 5px;
    margin: 0 0 15px;
}

.region-footer {
    padding: 15px;
}

#slick-views-banners-front-block-1-1-slider   {
    border: 2px solid #937B33;
}

.main-container {
    padding: 15px 0;
}

.logo {
    float: none!important;
    margin-top: 10px;
    display: block;
}

.logo img {
    max-width: 100%;
}

.navbar-nav {
    margin: 0;

}

.navbar-toggle {
    background-color: red;
    margin-right: 0;
    box-shadow: 0px 0px 5px gray;
}

.navbar-toggle .icon-bar {
    background: yellow;
}

.view-id-products .view-content,
.view-taxonomy-term .view-content {
    font-size: 0;
}

.view-id-products .views-row,
.view-taxonomy-term .views-row {
    padding: 0 15px;
    display: inline-block;
    width: 50%;
    float: none;
}

.view-id-products h2,
.view-taxonomy-term h2 {
    font-size: 2rem;
}

.view-id-products img,
.view-taxonomy-term img {
    box-shadow: 0px 0px 5px 0px;
}

.block-language {
    margin-top: 7px;

}

.block-language ul.links {
    padding: 0;
    text-align: center;
    line-height: 0;
    margin: 0;
    float: right;
    background: wheat;
    border-radius: 4px;
    box-shadow: 0px 0px 5px gray;


}

.block-language ul.links li {
    display: inline-block;
    list-style: none;
    margin: 4px 10px;
}

.block-language ul.links li:first-child {

}

.block-language .language-link {
    height: 24px;
    width: 30px;
    display: block;
    border: 1px solid white;
    font-size: 0;
    background-image: url(img/sprite.png);
    transition: linear 0.1s;
}

.block-language li.en .language-link {
    background-position: 0 0;
}

.block-language li.ru .language-link {
    background-position: -30px 0;
}

.block-language li.uk .language-link {
    background-position: -60px 0;
}

.block-language li.is-active .language-link {
    box-shadow: 0 0 2px 1px red;
}

.block-language .language-link:hover {
    box-shadow: 0 0 2px 1px white;
}

.region-branding {
    text-align: center;
    display: block;
}

.branding, .navbar-header  {
    display: block;
    vertical-align: top;
}

.navbar-header {
    float: right;
}

.footer .block {
    position: relative;
    padding-left: 50px;
}

.footer .block:after {
    background: url("img/sprite.png") no-repeat;
    position: absolute;
    content: '';
    width: 34px;
    height: 24px;
    top: 25px;
    left: 0;
}

.footer #block-copyright:after {
    background-position: -124px 0;
}

.footer #block-contact:after {
    background-position: -90px 0;
}

.footer p {
    margin: 0 0 5px;
}

h1 {
    font-size: 32px;
}


@media all and (max-width: 480px) {

    .view-id-products .views-row,
    .view-taxonomy-term .views-row {
        width: auto;
        padding: 0 0 15px;
    }

    .view-id-products h2,
    .view-taxonomy-term h2 {
        font-size: 20px;
    }
}

.menu--secondary {
    list-style: none;
}

.menu--secondary .dropdown-menu {
    border: 0;
    box-shadow: none;
}

.menu--secondary .menu__item {

}

.menu--secondary .menu__item>a {
    outline: 0;
    border-radius: 4px;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    background: wheat;
    padding: 5px;
    color: black;
}

.menu--secondary .menu__item.active>a {
    color: #fff;
    background-color: #337ab7;
    padding: 5px;
}

.dropdown-menu {
    display: block;
    position: relative;
    float: none;
}

.dropdown-menu > li > a {
    display: block;
    margin-left: 20px;
    padding: 5px;
    clear: both;
    white-space: normal;
}

.dropdown-menu > li > a:hover {
    background: wheat;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus .dropdown-menu > li > a:focus, .menu--secondary .menu__item>a:hover {
    text-decoration: none;
    opacity: 0.9;
}

.region-sidebar-first h2 {
    font-size: 20px;
    border-bottom: 2px solid lightblue;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.view-main h2 {
    font-size: 24px;
    margin: 0 0 10px;
    padding: 0;
}

.view-main .view-content {
    font-size: 0;
}

.view-main .views-row{
        display: inline-block;
    vertical-align: top;
    padding: 0 20px 20px;
    font-size: 14px;
}

@media all and (min-width: 768px) {

    .view-main .views-row{
        width: 33.333%;
    }
}

.block-views-blockpartners-block-1 .view-content {
    text-align: center;
}

.block-views-blockpartners-block-1 .views-row {
    display: inline-block;
    padding: 10px 50px;
}

.slick-slide .slide__caption {
  transition: all 1s;
  top: -100%;
  /*visibility: hidden;*/
}

.slick-slide.slick-current .slide__caption {
  transition: all 1.2s;
  top: 50%;
  /*visibility: visible;*/
}

.slick-slide .slide__caption a,
.slick-slide .slide__caption a:hover {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  color: #fff;
  text-decoration: none;
}
